Source: ros-jazzy-polygon-utils
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-shapely, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-geometry-msgs, ros-jazzy-polygon-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-polygon-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-shapely, ros-jazzy-geometry-msgs, ros-jazzy-polygon-msgs, ros-jazzy-ros-workspace
Description: Utilities for working with polygons, including triangulation
